*.o
*.swp
Debug
Session.vim
tags
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.mk
config.status
config.sub
config_detected.h
config_detected.mk
configure
depcomp
depmode
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
.deps
